
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Order</title>
</head>
<body>
        {% extends 'pizza_store/base.html' %}
        {% block 'body' %}
        <div class="container">
            <h1>Edit Abula</h1>
            <h2> {{ note }} </h2>

            <form action="{% url 'edit_order' pizza.id %}" method="post">
                {% csrf_token %}
                {{ pizzaform }}
                <input type="submit" value="Edit Pizza">
            </form>
        </div>
        {% endblock %}
</body>
</html>